.desktop {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.react-contextmenu-wrapper+nav {
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.react-contextmenu-wrapper+nav>.react-contextmenu-item {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  padding: .5rem 1rem;
}

.react-contextmenu-wrapper+nav>.react-contextmenu-item:hover {
  background-color: #ccc3;
}