.icons {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 1.25rem;
  width: 100%;
}

.icons__icon {
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: .5rem;
  cursor: pointer;
  margin: .75rem;
  padding: .75rem;
  position: relative;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 7rem;
}

.icons__icon:hover {
  background-color: #ccc2;
  border: 1px solid #ccc;
}

.icons__icon:focus,
.icons__icon:active {
  outline: none;
}

.icons__icon--minimized::after {
  background-color: #00BCF2;
  border-radius: 50%;
  content: '';
  height: .75rem;
  opacity: .75;
  position: absolute;
  right: .75rem;
  top: .75rem;
  width: .75rem;
}

.icons__image {
  background-position: center center;
  background-size: contain;
  display: block;
  height: 3rem;
  margin: 0 auto .5rem;
  width: 3rem;
}

.icons__title {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.3rem;
  max-height: 2.6rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  user-select: none;
  width: 100%;
}
